@model ProductManager.Entities.SubCategory

@{
    ViewBag.Title = Model.Name + " Details";
}

<h3>SubCategory Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("Back to SubCategories List", "Index")
</p>
